.user-form {
    margin-bottom: 20px;
    text-align: center;
    display: flex;
    font-size: 16px;
}

.user-form label {
    flex: 0 1 75%;
}

.user-form input {
    border: 1px solid lightseagreen;
    padding: 12px 20px;
    font-size: 16px;
    border-radius: 4px;
    width: 100%;
}

.user-form button {
    font-size: 16px;
    cursor: pointer;
    border: none;
    background: lightseagreen;
    margin-left: auto;
    border-radius: 4px;
    flex: 0 1 20%;
}

.user-list {
}

.user-list li {
    display: block;
    padding: 12px 20px;
    margin-bottom: 12px;
    border-radius: 4px;
    border: 1px solid lightseagreen;
}

.user-number {
    margin-bottom: 20px;
    color: lightseagreen;
}
