doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="/css/reset.css")
        link(rel="stylesheet", href="/css/home.css")
        title Document
    body
        nav.home-navbar
            a(href="/cart") 購物車
        div.home-wrapper
            h2.home-title 商品首頁
            ul.home-list
                each product in products
                    li.home-list-item
                        div(style='background-image: url(' + product.image + ')')
                        h3 #{product.name}
                        form(action="/add-product-of-cart", method="post")
                            input(type="hidden", name="id", value=product.id)
                            button 加入購物車