doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
        link(rel="stylesheet", href="/main.css")
    body
        h2 home
        ul
            for item in products
                li
                    img(src=item.image, width="120")
                    span #{item.name}
                    form(action="/add-cart", method="post", class="inline-block")
                        input(type="hidden", name="id", value=item.id)
                        button Add