doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title home
        link(rel="stylesheet", href="/css/main.css")
    body
        nav.app-nav
            a(href="/") home
            a(href="/user") user
        main.app-container
            div.app-block
                p home